@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-montserrat: var(--font-montserrat);
  --font-nunito: var(--font-nunito-sans);
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-black: #0D0B0B;
  --color-dark-gray: #161616;
  --color-gray: #353334;
  --color-white: #FFFFFF;
  --color-lavander-haze: #D2C3F6;
  --color-velvet: #1C0C38;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  h1 {
    @apply font-montserrat text-center text-4xl leading-13 mb-10 lg:text-7xl lg:leading-20 xl:text-8xl xl:leading-25 lg:text-start
  }

  h2 {
    @apply font-montserrat text-3xl lg:text-4xl text-black
  }

  h3 {
    @apply font-montserrat text-2xl 
  }

  p {
    @apply font-nunito font-extralight lg:text-lg
  }
}
