@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-black: #0D0B0B;
  --color-dark-gray: #161616;
  --color-gray: #353334;
  --color-white: #FFFFFF;
  --color-green: #CCF241;
  --color-orange: #F25A38;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  h1 {
    @apply text-center text-4xl font-bold leading-13 mb-10 lg:text-7xl lg:leading-20 xl:text-8xl xl:leading-25 lg:text-start
  }

  h3 {
    @apply text-xl font-bold lg:text-2xl
  }
}